---
title: Le Wagon Middleman boilerplate
---

<div>
  <div class="text-center">
    <h1>Our Team</h1>
      <p>Discover us..</p>
</div>

    <div class="card">
      <%= image_tag "Henley.jpg"%>
      <h2>Henley</h2>
      <p>Don't change your habits, write with a pen <strong>on paper notebooks</strong></p>
    </div>

    <div class="card">
      <%= image_tag "Marc.jpg"%>
      <h2>Marc</h2>
      <p>Stylus instantaneously copy your text on your computer, <strong>in real-time</strong></p>
    </div>

    <div class="card">
      <%= image_tag "Paul.jpg"%>
      <h2>Paul</h2>
      <p>Get feedbacks on the way you write, <strong>your favorite words, your frequent mistakes</strong></p>
    </div>
